 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="black">
        <title>About Us</title>
        <link rel="icon" type="image/x-icon" href="faviconjpground.png">
        <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
        <!-- aos cdn -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- stylesheet -->
        <link rel="stylesheet" href="css/aboutus.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    
    </head>
 <body>
    <div class="main-container">
        <div class="maharaja-heading">
            <img src="photos/maharaja-poster.png" alt="" id="formobile">
         <div class="img-container">
            <img src="photos/maharaja-logo1.svg" alt="">
            
         </div>
         <div class="text-heading">
            <article class="heading1">UNIVERSITY MAHARAJA COLLEGE</article>
            <!-- <article class="heading2">AN INSTITUTION DEDICATED TO EXCELLENCE</article> -->
            <article class="heading3">(UNIVERSITY OF RAJASTHAN)</article>
         </div>
         <div class="img2-container">
            <img src="photos/maharaja-logo2.svg" alt="">
         </div>
        </div>
        <div class="plain-text"> 
            {{!-- for highlight => highlighted-text --}}
            <article><p class="highlighted-text">University Maharaja College</p> has been nurturing young minds with quality science education since its establishment in <p class="highlighted-text">1844</p>. Nestled in a majestic heritage building on <p class="highlighted-text">Sawai Ram Singh Road</p>, near the iconic Ajmeri Gate, our college stands as a beacon of academic excellence in the heart of the Pink City.</article>
            <br>
            <article>With over <p class="highlighted-text">3000+ students</p> currently enrolled, our institution is committed to fostering holistic development and empowering individuals to realize their fullest potential.</article>
            <br>
            <article>The college ground has witnessed several national and international sports events, including the cricket match played by <p class="highlighted-text">MCC in 1961</p> where Mr. Salim Durani's performance stole the spotlight.</article>
            <br>

            <article>The college celebrated its <p class="highlighted-text">180 years of prosperity</p> in 2024.
            </article>

            <br>
            <article><p class="highlighted-text">"Aquaregia"</p> is not merely an event; it is a voyage into a world where creativity knows no bounds and brilliance finds its stage. Immerse yourself in a celebration of talent, innovation, and the spirit of camaraderie.
            </article>
            <br>

            <article>This year, <p class="highlighted-text">our theme is "Imagination"</p>, where creativity knows no bounds and innovation reigns supreme.</article>

        </div>
        <div id="rocket1"></div>
        
 </body>
 </html>