<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- Antakshari</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/antakshri2.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Antakshari</div>
            <div id="content">Immerse yourself in the magic of words at our Antrakshri Poetry Jamboree! Whether you rhyme or paint with prose, this is your canvas. Step up, share your soul, and make it a event of enchanting verses. Join us for an unforgettable celebration of the spoken word!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
       
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
           <p>
                <ul>
                    <li>Each team will comprise 4 members.
                    </li>
                    <li>Allowed songs: Bollywood, Hindi Famous albums. No song repetition permitted.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                    <li>
                        <ul>The event will be conducted in three rounds.

                            <li>Round 1 - Elimination round</li>
                            <li>Round 2 - Buzzer Round</li>
                            <li>Final Round</li>
                        </ul>
                    </li>
                </ul>
                </p>

                <h2>Round 1 Rules:</h2>
                <p>
                <ul>
                    <li>Teams given an actor's name must write the maximum number of songs about the actor in the given time.</li>
                    <li>Each team receives a different actor. Round time limit: 1 minute.</li>
                    <li>Top 8 teams with the highest song count proceed; accurate song names required.</li>
                </ul>
                </p>

                <h2>Round 2 Rules:</h2>
                <p>
                <ul>
                    <li>Teams guess song and movie while its music plays in the background.</li>
                    <li>Teams have to sing at least 1 paragraph of the song; negative marking applies.</li>
                    <li>Top 4 teams selected based on performance, accuracy in answering questions, and singing with perfect lyrics.</li>
                </ul>
                </p>
                
                <h2>Final round Rules:</h2>
                <p>
                <ul>
                    <li>This round will be a normal Antrakshari round. This means that the first song must start with(m) </li>
                    <li>Songs must be started from the last letter of the previous song.</li>
                    <li>Teams have 10 seconds to think of a song. Failure to sing within the allotted time results in elimination.</li>
                    <li>Allowed: Bollywood songs, Hindi/Punjabi albums. Participants must stick to the original song; any modification leads to disqualification.</li>
                </ul>
                </p>
<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Pradeep Jat</div> 83020 07892</div>
        <div class="coordinator"><div>Punit Bharti</div> 63783 87688</div>

    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>