<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- BGMI</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/tbgmi.jpg" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">BGMI</div>
            <div id="content">Gear up for the ultimate gaming experience in our BGMI Showdown! Compete, showcase your skills, and dominate the virtual battlefield. Judges assess strategy, teamwork, and individual prowess. Join the gaming revolution and be part of the action!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
            <p>
                <ul>
                    <li>Each college is allowed to field a maximum of two teams in the competition.</li>
                    <li>The use of any form of hacking, cheating, or third-party software providing an unfair advantage is strictly prohibited.</li>
                    <li>Teams must arrive on time for matches; tardiness may result in disqualification.</li>
                    <li>Each participating team must consist of a fixed number of four members.</li>
                    <li>Violation of the rules may lead to disqualification</li>
                    <li>The decision of the judges and event organisers is final.</li>
                    <li>
                        <ul>There will be Three Rounds:-
                            <li>First & Second Round in an Elimination Round</li>
                            <li>Final Round: TDM Match</li>
                        </ul>
                    </li>
                    <li>
                        <ul>First Round
                            <li>This round of the BGMI Collegiate Clash will be exclusively played on the Erangel map.</li>
                            <li>The winning team of this Erangel round will secure direct qualification to the final round of the BGMI Collegiate Clash.</li>
                            <li>All teams, except the Erangel round-winning team, will proceed to the second round of the BGMI Collegiate Clash.</li>
                        </ul>
                    </li>
                    <li>
                        <ul>Second Round
                            <li>This round of the BGMI Collegiate Clash also played on the Erangel map.</li>
                            <li>As per First Round the winning team of this Erangel round will secure direct qualification to the final round of the BGMI Collegiate Clash.</li>
                        </ul>
                    </li>
                    <li>
                        <ul>Final Round: TDM Match
                            <li>The Final round of the BGMI Collegiate Clash will be a Team Deathmatch (TDM) round.</li>
                            <li>The TDM Final Round will exclusively feature Sniper Rifles. All other guns are strictly prohibited, including pistols.</li>
                            <li>The team emerging victorious in the Sniper Showdown TDM Final Round will be crowned the overall winner of the BGMI Collegiate Clash.</li>
                        </ul>
                    </li>
                </ul>
                </p> 


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div> Dipesh Saini
        </div> 99829 13577</div>
        <div class="coordinator"><div> Sidhant Yadav
        </div> 70143 5682</div>

    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>