<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- B-Plan</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/MiBP.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Business Plan</div>
            <div id="content">Craft a comprehensive Business Blueprint! This plan outlines your business strategy, financial projections, and marketing approach. Judges will evaluate clarity, feasibility, and innovation. Showcase your entrepreneurial prowess and present a compelling vision for success in this Business Blueprint competition!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
           <p>
                <ul>
                    <li>Each team should of a minimum of 2 members and a maximum of 4 members. Any number of business plans from an institution may be allowed, provided that the teams have no common members.</li>
                    <li>There will be a preliminary round from which only 7 teams willl be selected and be able to present their Business plan on the day of the event.</li>
                    {{!-- <li>
                        <ul>The event will be conducted in two rounds.

                            <li>Round 1 Rules: Preliminary Round:-</li>
                            <li>Final Round:</li>
                        </ul>
                    </li> --}}
                </ul>
                </p>

                <h2>Round 1 Rules:</h2>
                <p>
                <ul>
                    <li>
                        <ul>The team leader has to submit a summary of their business through provided coordinator's WhatsApp number.
                            <li>What is your product? </li>
                            <li>Its use or the problem that the product tries to address</li>
                        </ul>
                    </li>
                    <li>All teams should send their summary by 25th February 2024, on the given WhatsApp number.</li>
                    <li>Only 7 teams will be selected. Selected teams will be notified by 26th February 2024.</li>
                    <li>
                        <ul>The document header should contain
                            <li>College Name</li>
                            <li>Product/ Business Name</li>
                            <li>Name & Contact number of team leader</li>
                            <li>Email Of Team leader</li>
                        </ul>
                    </li>
                    <li>PDF / Word file name should be named in this format while sending CollegeName_Business/ProductName</li>
                </ul>
                </p>

                <h2>Final round Rules:</h2>
                <p>
                <ul>
                    <li>Each team will get 7 minutes to present their idea.</li>
                    <li>You have to present the idea through PPT.</li>
                    <li>After the presentation Judges will raise their queries which will also be marked while awarding marks.</li>
                    <li>The use of offensive language or inappropriate content is strictly forbidden.</li>
                    <li>Violation of the rules may lead to disqualification.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>
                </p>
<center><h2>Coordinator</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div> Sachin Jaimini
        </div>78917 57707</div>
        <div class="coordinator"><div> Lokendra Singh
        </div>73572 08559</div>
    
       

    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>
