<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- Cinematic Shots</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/pCS.png" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Cinematic Shots</div>
            <div id="content">Join the CineCapture Challenge! Showcase your photography skills with the breathtaking shots and visual storytelling. From landscapes to portraits, unleash your creativity and make every frame count!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
           <p>
                <ul>
                    <li>Each college is allowed to field a maximum of two teams in the competition.</li>
                    <li>Limitation: Each team may only designate two members only.</li>
                    <li>Only campus shots are allowed and will be counted.</li>
                    <li>Must be in MP4 format.</li>
                    <li>Language-Hindi, English and regional.</li>
                    <li>It should be submitted on last day till 1 pm.</li>
                    <li>You can send your Emails on <a href="mailto:ojasmaharaja@gmail.com">ojasmaharaja@gmail.com</a>.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                    <li>
                        <ul>Candidates must send their entries to the WhatsApp number given below with the following details: 
                            <li>Student Name</li>
                            <li>College Name</li>
                        </ul>
                    </li>
                </ul>
                </p>
<center><h2>Coordinator</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div> Harsh Sharma
        </div>  89495 08075</div>
        <div class="coordinator"><div> Jatin Choursiya
        </div>  78780 05865</div>
       

    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>
