<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24- Creative Writing</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/lCW.jpg" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Creative Writing</div>
            <div id="content">Let your imagination soar at our Creative Writing Fiesta! From stories to poetry, join fellow wordsmiths in a celebration of literary expression. Share the magic of your unique storytelling in this creative adventure!
        </div>
        <a class="fancy" href="/soloeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
           <p>
                <ul>
                    <li>The event will be conducted in 2 rounds.</li>
                     <li> The first round will be an elimination round on the first day of the event and participants have to write an essay on the given topic with a word limit of 500</li>
                    <li>The top 40% of participants will proceed to the second round, which will be conducted on the second day of the event.</li>
                    <li>In the second round, the participant will be given a hypothetical situation to write upon.</li>
                       <li>  Participants can use either English or Hindi language.</li>
                    <li>The entry must not contain any obscene words or subject(s) that might be offensive to any culture/ language/ region/ religion. </li>
                    <li>Judgment criteria: Creativity, Writing, and thinking capability </li>
                    <li>Rules may get modulated under certain circumstances by the authorities.</li>
                    
                    <li>The decision of the judges and event organisers will be final and cannot be changed.</li>
                </ul>
           </p>
    


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Amar Patel</div>82792 76848</div>
        <div class="coordinator"><div>Priyanshu Singh</div>63761 49754</div>
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>