<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
        <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/images.css">
    <link rel="stylesheet" href="css/media.css">
    </head>
<body>
    <div class="blackhole"><img src="photos/black-hole-6274731.png" alt=""></div>
    <header>
        <!-- navbar section stars from here -->
        {{>navbar}}
         <!-- navbar section ends here -->
     </header> <!-- header ends here -->
    
    <main>
        
            <div id="bigDaddyFlex" class="daddy-big-flex">
                <div id="quickAccess" class="quickAccess">
                    <ul class="quickaccess-ki-ul">
                        <a href="#dance"><li class="dance activeThistab" id="qNrityam">Dance</li></a>
                        <a href="#music"><li class="music" id="qOctaves">Music</li></a>
                        <a href="#drama"><li class="drama" id="qRangshirsh">Drama</li></a>
                        <a href="#tech"><li class="tech" id="qYuvas">Tech</li></a>
                        <a href="#photography"><li class="photography" id="qOjas">Photography</li></a>
                        <a href="#literature"><li class="literature" id="qAnant">Literature</li></a>
                        <a href="#art"><li class="art" id="qart">Art</li></a>
                        <a href="#miscellaneous"><li id="qMiscellaneous" class="miscellaneous">Miscellaneous</li></a>
                        <a href="#fashion"><li class="fashion" id="qfashion">Fashion</li></a>
                    </ul>
                </div> <!-- Quick Access section ends here -->
                
                
                
               <div id="mainContent">
                    <section class="bigFlex" id="dance">
                        <div class="Flex1" id="dance">Dance</div>
                        <div class="Flex2">
                            <a href="/solodance"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDa1"></div><div class="bachaFlex">Solo</div></div></a>

                                 <a href="/duetdance"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDa2"></div><div class="bachaFlex">Duet</div></div></a>

                            <a href="/groupdance"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDa3"></div><div class="bachaFlex">Group</div></div></a>
                            
                            
                        </div>
                    </section>


                    <section class="bigFlex" id="music">
                        <div class="Flex1" id="music">Music</div>
                        <div class="Flex2">

                           <a href="/solomusic"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexM1"></div><div class="bachaFlex">Solo</div></div></a>

                            <a href="/groupmusic"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexM2"></div><div class="bachaFlex">Group</div></div></a>

                              <a href="/antakshari"><div class="smallFlex">
                                    <div class="imgFlex" id="imgFlexM3"></div><div class="bachaFlex">Antakshari</div></div></a>
                        </div>
                        </section>
                    <section class="bigFlex" id="drama">
                        <div class="Flex1" id="drama">Drama</div>
                        <div class="Flex2">

                            <a href="/nukkad"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDr1"></div><div class="bachaFlex">Nukkad-Natak</div></div></a>

                                <a href="/admad"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDr2"></div><div class="bachaFlex">Ad-Mania</div></div></a>
                            <a href="/monoact">
                                <div class="smallFlex">
                                <div class="imgFlex" id="imgFlexDr3"></div><div class="bachaFlex">Mono-Act</div></div></a>
                        </div>
                    </section>

                    <section class="bigFlex" id="tech">
                        <div class="Flex1">Tech</div>
                        <div class="Flex2">
                               <a href="/designing"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexT1"></div><div class="bachaFlex">Designing</div></div></a>

                            <a href="/hackathon"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexT2"></div><div class="bachaFlex">Hackathon</div></div></a>

                            {{!-- <a href="/coding"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexT3"></div><div class="bachaFlex">Coding</div></div></a> --}}
                           <a href="/bgmi"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexT4"></div><div class="bachaFlex">BGMI</div></div></a>
                        </div>
                        
                        <div class="Flex2 secondline">

                            <a href="/valorant"><div class="smallFlex">
                                    <div class="imgFlex" id="imgFlexT5"></div><div class="bachaFlex">Valorant</div></div></a>
                        </div>
                    </section> 

                    <section class="bigFlex" id="photography">
                        <div class="Flex1" id="photography">Photography</div>

                        <div class="Flex2">

                            <a href="/creativecapture"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexP1"></div><div class="bachaFlex">Creative Capture</div></div></a>

                            <a href="/reels"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexP2"></div><div class="bachaFlex">Creative Reels</div></div>
                            </a> 

                            <a href="/cinematic"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexP3"></div><div class="bachaFlex">Cinematic Shots</div></div>   </a>                        
                        </div>
                        <div class="Flex2 secondline">
                            <a href="/meme"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexP4"></div><div class="bachaFlex">Meme-Holic</div></div></a>
                        </div>
                    </section>
                           
                            
                    <section class="bigFlex" id="literature">
                        <div class="Flex1" id="literature">Literature</div>

                        <div class="Flex2">
                           <a href="/mun"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexL1"></div><div class="bachaFlex">Youth Parliament</div></div></a>

                            <a href="/creativewriting"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexL2"></div><div class="bachaFlex">Creative Writing</div></div></a>

                            <a href="/debate"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexL3"></div><div class="bachaFlex">Debate</div></div></a>
                        </div>
                        
                        <div class="Flex2 secondline">
                           <a href="/poetry"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexL4"></div><div class="bachaFlex">Poetry</div>
                            </div></a>

                               <a href="/quiz"><div class="smallFlex">
                                    <div class="imgFlex" id="imgFlexL5"></div><div class="bachaFlex">Quiz</div></div></a>
                               <a href="/jam"><div class="smallFlex">
                                    <div class="imgFlex" id="imgFlexL6"></div><div class="bachaFlex">JAM - Just A Minute</div></div></a>
                        </div>
                    </section>                    
                    <section class="bigFlex" id="art">
                        <div class="Flex1">Art</div>
                        <div class="Flex2">

                            <a href="/postermaking"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexA1"></div><div class="bachaFlex">Poster Making</div></div></a>
                            <a href="/rangoli"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexA2"></div><div class="bachaFlex">Rangoli Making</div></div></a>

                            <a href="/sketching"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexA3"></div><div class="bachaFlex">Sketching</div></div></a>
                        </div>
                        <div class="Flex2 secondline">

                            <a href="/facepainting"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexA4"></div><div class="bachaFlex">Face Painting</div></div></a>
                        </div>
                    </section>
                    
                    <section class="bigFlex" id="miscellaneous">
                        <div class="Flex1">Miscellaneous</div>
                        <div class="Flex2">

                            <a href="/tugofwar"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexMi1"></div><div class="bachaFlex">Tug of War</div></div></a>

                            <a href="/treasure"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexMi2"></div><div class="bachaFlex">Treasure Hunt</div></div></a>

                            <a href="/agt"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexMi3"></div><div class="bachaFlex">Aqua Got Talent</div></div></a>
                        </div>
                        <div class="Flex2 secondline">
                            <a href="/bplan"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexMi5"></div><div class="bachaFlex">B-plan</div></div></a>
                        </div>
                    </section>
                    <section class="bigFlex" id="fashion">
                        <div class="Flex1">Fashion</div>
                        <div class="Flex2">
                            <a href="/fashion"><div class="smallFlex">
                                <div class="imgFlex" id="imgFlexF1"></div><div class="bachaFlex">Fashion Show</div></div></a>
                        </div>
                    </section>
                </div>
                
                
            </div>
    </main>
    {{>footer}}
    </body>
    <script src="script/events.js">
    </script>
</html>