<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24-Face Painting</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/aFP.jpg" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Mussavari</div>
            <div id="content">Join the fun at Face Art Extravaganza! Dive into creativity, turn faces into living canvases with vibrant paints and imaginative designs. Unleash your artistic flair, paint with joy!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
        <p>
                <ul>
                    <li>Theme: - It's an open theme competition.</li>
                    <li>Team Size: 2 Members (one who will paint and the other whose face will be painted). </li>
                    <li>Team Limit: 2 entries per institute. </li>
                    <li>Performance Time: 1.5 hour.</li>
                    <li>All required materials should be brought by the participants themselves.</li>
                    <li>Rules may get modulated under certain circumstances by the authorities.</li>
                    <li>Judgment criteria: Creativity, Technique, Color Harmony, Overall Presentation</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>
                </p>  


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Pradeep Jat
            
            </div> 83020 07892</div>
            <div class="coordinator"><div>Divesh Jangir
            
            </div>70236 92491</div>
        
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>