<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- Solo Dance</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>

<body>
    <main>
        <div id="bigFlex2">
            <div class="back-to-home-div">
                <div id="arrow-left" onclick="history.back()"></div>
            </div>
            <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
            <div id="img"><img src="photos/group singing.webp" alt=""></div>
        </div>
        <div id="bigFlex1">

            <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Group Singing</div>
            <div id="content">Join the musical celebration at Harmony Ensemble! This event is all about Group Singing,
                where teams can harmonize and showcase their vocal talents. From melodious tunes to group dynamics, it's
                a chance to create a symphony of voices. Join us for a day of musical camaraderie at Harmony Ensemble!
            </div>
            <a class="fancy" href="/groupeventregister">
                <span class="top-key"></span>
                <span class="text">Register</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </a>
            <div class="scrolldown" id="scrolldown" style="--color: skyblue">
                <div class="chevrons">
                    <div class="chevrondown"></div>
                    <div class="chevrondown"></div>
                </div>
            </div>
            <div class="border-line"></div>
            <div id="alignment">

                <div id="rulesHeader">
                    <p id="rulesHeaderTitle">Rules & Regulations</p>
                    <div id="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17">
                            <path
                                d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div id="rulesContent">


                <h2> General Rules:</h2>
                <p>
                <ul>
                    <li>One group entry per institution. Team size limit: 5 to 8 members </li>
                    <li>The team can perform Classical, Bollywood, Qawwali, or a fusion of songs</li>
                    <li>Preferred languages for songs: Hindi, Rajasthani, Punjabi, and English.</li>
                    <li>Performance time: 15 minutes including setup. Exceeding the limit results in negative marking.
                    </li>
                    <li>The group will have to bring their own instruments.</li>
                    <li>No Karaoke music allowed. Avoid using foul language.</li>
                    <li>Judging Criteria: Coordination, Creativity, Voice Quality, Sense of Scale and Beat, Rendition
                        Quality, Improvisation, Lyrics Pronunciation, Mood and Expression, Overall Impact.</li>
                    <li>Rules may get modulated under certain circumstances by the authorities.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>

                </p>
                <center>
                    <h2>Coordinators</h2>
                </center>
                <div id="coordinatorsss">
                    <div class="coordinator">
                        <div> MD. Sameer
                        </div> 93519 66621
                    </div>
                    <div class="coordinator">
                        <div> Vipanshu Sharma
                        </div> 77422 45581
                    </div>

                </div>

            </div>


    </main>
</body>
<script src="script/event.js"></script>

</html>