<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <header>
        <div id="preloader">
            <div id="infinity-logo"></div>
        </div>
        <!-- navbar section stars from here -->
        {{>navbar}}
        <!-- navbar section ends here -->
    </header> <!-- header ends here -->
    <main>
        <!-- Aquaregia title starts -->

        <div class="aquaregiaTitleContainer" id="aquaregiaTitleContainer">
            <h3 id="date">28-29 February 2024</h3>
            <span id="aquaregiaTitle">Aquaregia</span>
            <span id="toInfinity">Imagination</span>
            <div class="book-slot-btn-container">
                <a href="/events"><button id="bookSlotBtn">BOOK YOUR SLOT</button></a>
            </div>



        </div> <!-- Aquaregia title ends here -->


        <!-- About main container section gola -->
        <div class="aboutMainContainer">

            <div id="bigFlex">
                <div id="flex1">
                    <div id="infoCircle1">
                    </div>
                </div>
                <div id="flex2">
                    <div id="infoCircle2">
                    </div>
                </div>
                <div id="flex3">
                    <div id="infoCircle3">
                    </div>
                </div>
            </div> <!-- bigflex ends-->
            <!-- about gola -->
            <div id="about">
                <div id="aboutCircle"><span>ABOUT</span>
                    <p>"University Maharaja College Jaipur brings you the biggest annual cultural fest of Jaipur
                        AQUAREGIA.

                        It all started when a bunch of students realised that there's more to college life than
                        textbooks. The AQUAREGIA came into existence following that legacy we are here with
                        AQUAREGIA-2024 with the theme "Imagination", the stage to realise your true potential, the
                        stage to showcase that you're the best.

                        See you on 28th & 29th February 2024 at AQUAREGIA.
                        "
                    </p>
                </div>
            </div><!-- about gola -->

        </div> <!-- About main container section gola -->



        <div class="two-Lines-About-Aquaregia-Theme-Container">
            <div class="two-Lines-Sub-Div">
                <div class="two-Lines-Sub-Div-Logo"><img src="photos/logo.png" alt=""></div>
                <div class="two-Lines-Sub-Div-Description-main-div">
                    <p id="two-Lines-Sub-Div-Title">Infinity & Beyond</p>
                    <p id="two-Lines-Sub-Div-Description">The race to become the best starts when you step out of your
                        comfort zone. It's time to travel beyond your closed sphere and explore the world with endless
                        possibilities. AQUAREGIA brings that world to you , so you can unleash yourself and become the
                        best version of yourself. The 2 days of infinite fun and memories. Let's travel to Infinity and
                        beyond…

                        <br>
                        Do you dare to leap?

                    </p>
                    <ul id="two-Lines-Sub-Div-ul">
                        <li id="two-Lines-Sub-Div-li1">28-29 FEBRUARY</li>
                        <li id="two-Lines-Sub-Div-li2">Aquaregia'24</li>
                        <li id="two-Lines-Sub-Div-li3">MAHARAJA COLLEGE</li>
                    </ul>
                </div> <!-- two-Lines-Sub-Div-Description-main-div -->
            </div> <!-- two-Lines-Sub-Div -->
        </div> <!-- two-Lines-About-Aquaregia-Theme-Container -->


        <!-- ################################################ cHIEF pATRON ################################################## -->
        <!-- for category heading -->
        <article class="category-heading one-heading">CHIEF PATRON</article>
        <div class="category-container">

            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/vc.webp" alt=""></div>
                <div class="info">
                    <p class="name">PROF. ALPANA KATEJA</p>
                    <p class="fest-post"><br/>(VICE CHANCELLOR, UNIVERSITY OF RAJASTHAN)</p>
                </div>
            </div>
           
        </div>
        <!-- ################################################organising secrataries ################################################## -->
        <!-- ################################################ ORGANIZING COMMITTEE ################################################## -->
        <!-- for category heading -->
        <article class="category-heading one-heading">ORGANISING COMMITTEE</article>
        <div class="category-container">

            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/sn-dolia-sir.webp" alt=""></div>
                <div class="info">
                    <p class="name">PROF. S. N. DOLIA</p>
                    <p class="fest-post">(PATRON)</p>
                </div>
            </div>


            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp "><img src="photos/teacher photos/rk-meena-sir.webp" alt=""></div>
                <div class="info">
                    <p class="name">DR. RISHIKESH MEENA</p>
                    <p class="fest-post">(CONVENER)</p>
                </div>
            </div>
           
        </div>
        <!-- ################################################organising secrataries ################################################## -->
        <!-- for category heading -->
        <article class="category-heading">CO-CONVENERS</article>
        <div class="category-container">

            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/guneria.webp" alt=""></div>
                <div class="info">

                    <p class="name">DR. R. K. GUNSARIA</p>
                    <p class="fest-post">(VICE-PRINCIPAL)</p>
                </div>
            </div>


            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp "><img src="photos/teacher photos/pd-meena-sir.webp" alt=""></div>
                <div class="info">
                    <p class="name">DR. PRIYADARSHI MEENA</p>
                    <p class="fest-post">(VICE-PRINCIPAL)</p>
                </div>
            </div>

            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp "><img src="photos/teacher photos/manisha_alaria_ma'am.jpg" alt=""></div>
                <div class="info">
                    <p class="name">DR. MANISHA ALARIA</p>
                    <p class="fest-post">(VICE-PRINCIPAL)</p>
                </div>
            </div>
            {{!-- <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp "><img src="photos/teacher photos/pd-meena-sir.webp" alt=""></div>
                <div class="info">
                    <p class="name">DR. PRIYADARSHI MEENA</p>
                    <p class="fest-post">(VICE-PRINCIPAL)</p>
                </div>
            </div> --}}
             <article class="category-heading" id="orgaCO">ORGANIZING SECRATARIES</article>
             <div class="category-container">
            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/pravin-sir.webp" alt=""></div>
                <div class="info">
                    <p class="name">DR. PRAVEEN GARG</p>
                </div>
            </div>

            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/swapnil ma'am2.webp" alt=""></div>
                <div class="info">

                    <p class="name">DR. SWAPNIL BHARDWAJ</p>
                </div>
            </div>
            <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                <div class="dp"><img src="photos/teacher photos/priyanka-maam.webp" alt=""></div>
                <div class="info">

                    <p class="name">MRS. PRIYANKA KUMARI GARG</p>
                </div>
            </div>
            </div>


        </div>

    </main>
    {{>footer}}
    <!-- footer ends from here -->

</body>
<script src="script/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    AOS.init();
</script>


</html>
