<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24-Nukkad Natak</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2">
        <div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/DrNN.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Nukkad Natak</div>
            <div id="content">Step into the world of street theatre with our Nukkad Natak Extravaganza! Bring your stories to life on the open stage, where real issues meet powerful performances. Join us for creativity, social messages, and the spirit of Nukkad Natak!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
              <p>
                <ul>
                    <li>Performance time: 15-18 minutes, with negative marking for exceeding the time limit.</li>
                    <li>Team size: Max 15 members (including instrument players). One entry per institute.</li>
                    <li>Teams can use banners and posters, choose their instruments, but mic usage is forbidden</li>
                    <li>Teams can choose the topic /theme on their own.</li>
                    <li>The use of offensive language is strictly forbidden.</li>
                    <li>Judgement criteria: Coordination, Crowd interaction, Facial expression, Social message, Overall performance.</li>
                    <li>Violation of the rules may lead to disqualification.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>
                </p> 


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Ayush Lakhan
            
            </div> 98293 23031</div>
       
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>