<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24- Poetry</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/lP.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Poetry</div>
            <div id="content">Express yourself through words at our Poetry Jam! Share the rhythm of your soul, whether it's rhyming couplets or free-form verse. Step up to the mic and let your poetry resonate with the audience. Join us for a celebration of language and emotion!
        </div>
        <a class="fancy" href="/soloeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
            <h2> First round:</h2>
            <p>
                <ul>
                    <li>
                        <ul>Round 1: 
                            <li>Participants will have to recite a self-composed poem without using any paper or other sources.</li>
                            <li>Candidates can use both English and Hindi languages for the event.</li>
                            <li>The time limit to recite poetry is maximum of 3 minutes.</li>
                            <li>A maximum of two entries are allowed per college.</li>
                        </ul>
                    </li>
                    <li>Round 2: The top 8 participants will move forward for this round.</li>
                    <li>Rules and Regulations of the Second Round will be announced on the spot.</li>
                    <li>Marks from 1st Round will be carried forward to the second round.</li>
                    <li>Plagiarism will not be tolerated.</li>
                    <li>The use of offensive language or inappropriate content is strictly forbidden.</li>
                    <li>Violation of the rules may lead to disqualification.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>
                </p>


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Sachin Jaimini</div>78917 57707</div>
        <div class="coordinator"><div>Himanshu Sharma</div>78782 74241</div>
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>