<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24- Poster Making</title>
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/event.css">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/aP.jpg" alt=""></div>
        
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Aalekhya</div>
            <div id="content">Unleash creativity at Poster Palooza! Join the Poster Making event, turn ideas into vibrant visuals, and design a standout poster. It's your canvas, your message, and your chance to make a visual impact in a creative space!
        </div>
        <a class="fancy" href="/soloeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
            <p>
                <ul>
                    <li>Two participants will be allowed from each college.  </li>
                    <li>Theme:- India in 2047; Participants will have to follow the theme for the competition. </li>
                    <li>Use of any color medium would be allowed. </li>
                    <li>The time limit will be 1 hour to make the poster. </li>
                    <li>The participants will only be given a white paper sheet to make the poster, rest materials will have to be taken by the participant on their own. </li>
                    <li>Judgment criteria: Creativity, Usage of colours, and theme's impact. </li>
                    <li> Rules may get modulated under certain circumstances.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                
                </ul>
                </p> 


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Ankit Dadhich
            
           </div>75970 17060</div>
        <div class="coordinator"><div>Ayush
           </div>63766 52011</div>
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>
