<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24- Quiz</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/lQ.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Quiz</div>
            <div id="content">Challenge your intellect in our Quiz Quest! Join fellow enthusiasts, showcase your expertise, and compete for the title of Quiz Master. Get ready for quick thinking and diverse topics in this exciting competition!
        </div>
        <a class="fancy" href="/groupeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
            <p>
                <ul>
                    <li>A Quiz Team will consist of 3 members.</li>
                        <li> A maximum of two teams are allowed per college. </li>
                    <li>This event is divided into 4 rounds: Elimination Round, Preliminary Round, Mains Round & Rapid Fire Round. </li>
                    <li>The top 10 teams will proceed in the preliminary round from the elimination round. </li>
                    <li>The top teams which will qualify for the preliminary level will move to the main level. </li>
                    <li>The main round will be an amalgamation of multiple stages based on various categories such as art and culture, cinema, sports, economics, and current affairs, etc. </li>
                   <li>More details of each round will be provided on the spot.</li>
                    <li>Rules may get modulated under certain circumstances by the authorities.</li>
                    <li>The judges'decision will be final and binding.</li>
                    <li>Any kind of misbehavior will not be entertained and will lead to immediate disqualification from the event.</li>
                </ul>
                </p>


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Surya Pratap Singh</div>80055 07949</div>
        <div class="coordinator"><div> Ankit Dadhich</div>75970 17060</div>
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>