<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaregia'24- Reels</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/reels.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Reels</div>
            <div id="content">Explore creativity in "Creative Reels"! Craft captivating visuals and stories that inspire. Judges assess creativity, storytelling, and visual impact. Join the reel journey and let your imagination shine!
        </div>
        <a class="fancy" href="/soloeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
           <p>
                <ul>
                    <li>This will be a hybrid on-spot/online event.</li>
                    <li>
                        <ul>Reel content must be self-recorded. Choose from the themes below:
                            <li>On-Campus: Maharaja College Campus, Event Time.</li>
                            <li>Online: Fashion, Nature, Street, Portrait, Architecture, Night Exposur</li>
                        </ul>
                    </li>
                    <li>Reel duration: 15-60 seconds. Avoid offensive content towards any culture, religion, region, or language.</li>
                    <li>Date of submission in online format:- 27th February. </li>
                    <li>On-campus format:- all the participants will have to make reels on the given theme on 29th February by 4:00 P.M.</li>
                    <li>The reel of the winning participant will be uploaded on the official Instagram handle of Aquaregia. </li>
                    <li>
                        <ul>Candidates must send their entries to the WhatsApp number given below with the following details:
                            <li>Reel Video</li>
                            <li>Participant's Name</li>
                            <li>College Name</li>
                            <li>Mobile Number</li>
                            <li>Course & Year</li>
                            <li>Description</li>
                        </ul>
                    </li>
                    <li>JUDGEMENT CRITERIA: Creativity Concept and uniqueness Depiction of theme Overall impact. </li>
                    <li>The decision of the judges and event organisers is final.</li>

<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div> Harsh Sharma
        </div>89495 08075</div>
        
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>
