<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="css/resetforgot.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
</head>
<body>
    <form action="/mun" method="post">
        <article>Youth Parliament Registration</article>
    <input type="email" name="email" id="email" placeholder="Email"> <br>
    <label for="portfolio1">Portfolio Preferense 1</label> <br>
    <select name="portfolio1" id="sol">
        <option value="narendra modi">Naredra Modi</option>
        <option value="amit shah">Amit Shah</option>
        <option value="yogi adityanath">Yogi Aditya Nath</option>
        <option value="Nirmala Sitaraman">Nirmala Sitaraman</option>
        <option value="Rajnath Singh">Rajnath Singh</option>
        <option value="JP Nadda">J.P. Nadda</option>
        <option value="Sonia Gandhi">Sonia Gandhi</option>
        <option value="Rahul Gandhi">Rahul Gandhi</option>
        <option value="Priyanka Gandhi">Priyanka Gandhi</option>
        <option value="Sashi Thatur">Sashi Thatur</option>
        <option value="Manmohan Singh">Manmohan Singh</option>
        <option value="Ashok Gehlot">Ashok Gehlot</option>
        <option value="Adhir RanjanChoudhary">Adhir Ranjan Choudhary</option>
        <option value="Arvind Kejriwal">Arvind Kejriwal</option>
        {{!-- <option value="Manish Sisodia">Manish Sisodia</option> --}}
        <option value="Raghav Chadha">Raghav Chadha</option>
        {{!-- <option value="Uddhav Thackarey">Uddhav Thackarey</option> --}}
        <option value="Sanjay Raut">Sanjay Raut</option>
        <option value="Eknath Sindhe">Eknath Sindhe</option>
        <option value="Akhilesh Yadav">Akhilesh Yadav</option>
        <option value="Dimple Yadav">Dimple Yadav</option>
        <option value="Azam Khan">Azam Khan</option>
        <option value="Mamta banerjee">Mamta Banerjee</option>
        <option value="Mahua Moitra">Mahua Moitra</option>
        <option value="Abhishek Banerjee">Abhishek Banerjee</option>
        <option value="Asaduddin Owaisi">Asaduddin Owaisi</option>
        <option value="Nitish Kumar">Nitish Kumar</option>
        <option value="Tejaswi Yadav">Tejaswi Yadav</option>
        <option value="Sitaram Yechury">Sitaram Yechury</option>
        <option value="Pinarayi Vijayan">Pinarayi Vijayan</option>
        <option value="Brinda Karat">Brinda Karat</option>
        <option value="Piyush Goyal">Piyush Goyal</option>
        <option value="Smriti Irani">Smriti Irani</option>
        <option value="S Jaishankar">S Jaishankar</option>
        <option value="Nitin Gadkari">Nitin Gadkari</option>
        <option value="Pawan Kheda">Pawan Kheda</option>
        <option value="Sachin Pilot">Sachin Pilot</option>
        <option value="Bhagwant Mann">Bhagwant Mann</option>
        <option value="Derek O Brien">Derek O'Brien</option>
        <option value="Sudip Bandyopadhyay">Sudip Bandyopadhyay</option>
        <option value="Sunil Bansal">Sunil Bansal</option>
        <option value="Chandrakant Patil">Chandrakant Patil</option>
        <option value="Alka Lamba">Alka Lamba</option>
        <option value="P Chitadambaram">P. Chitadambaram</option>
        <option value="Subrata Bakshi">Subrata Bakshi</option>
        <option value="Chirag Paswan">Chirag Paswan</option>
        <option value="Sharad Pawar">Sharad Pawar</option>
        <option value="Manoj Jha">Manoj Jha</option>
        <option value="Venugopal">Venugopal</option>
        <option value="C lalrosanga">C Lalrosanga</option>
        <option value="Tokhelo Yepthomi">Tokhelo Yepthomi</option>
        <option value="Sukhibir singh badal">Sukhibir Singh Badal</option>
        <option value="Indra hang subba">Indra hang subba</option>
        <option value="Vincent Pala">Vincent Pala</option>
        <option value="Malikarjun Khadge">Malikarjun Khadge</option>
        <option value="M.K. Stalin">M.K. Stalin</option>
        <option value="Jamyang Tsering Namgyal">Jamyang Tsering Namgyal</option>
        <option value="Om Birla">Om Birla</option>
    </select> <br> <br> <br>

    <label for="portfolio2">Portfolio Preferense 1</label> <br>


    <select name="portfolio2" id="sol">
        <option value="Narendra Modi">Naredra Modi</option>
        <option value="Amit Shah">Amit Shah</option>
        <option value="Yogi Adityanath">Yogi Aditya Nath</option>
        <option value="Nirmala Sitaraman">Nirmala Sitaraman</option>
        <option value="Rajnath Singh">Rajnath Singh</option>
        <option value="JP Nadda">J.P. Nadda</option>
        <option value="Sonia Gandhi">Sonia Gandhi</option>
        <option value="Rahul Gandhi">Rahul Gandhi</option>
        <option value="Priyanka Gandhi">Priyanka Gandhi</option>
        <option value="Sashi Thatur">Sashi Thatur</option>
        <option value="Manmohan Singh">Manmohan Singh</option>
        <option value="Ashok Gehlot">Ashok Gehlot</option>
        <option value="Adhir Ranjan Choudhary">Adhir Ranjan Choudhary</option>
        <option value="Arvind Kejriwal">Arvind Kejriwal</option>
        {{!-- <option value="Manish Sisodia">Manish Sisodia</option> --}}
        <option value="Raghav Chadha">Raghav Chadha</option>
        {{!-- <option value="Uddhav Thackarey">Uddhav Thackarey</option> --}}
        <option value="Sanjay Raut">Sanjay Raut</option>
        <option value="Eknath Sindhe">Eknath Sindhe</option>
        <option value="Akhilesh Yadav">Akhilesh Yadav</option>
        <option value="Dimple Yadav">Dimple Yadav</option>
        <option value="Azam Khan">Azam Khan</option>
        <option value="Mamta Banerjee">Mamta Banerjee</option>
        <option value="Mahua Moitra">Mahua Moitra</option>
        <option value="Abhishek Banerjee">Abhishek Banerjee</option>
        <option value="Asaduddin Owaisi">Asaduddin Owaisi</option>
        <option value="Nitish Kumar">Nitish Kumar</option>
        <option value="Tejaswi Yadav">Tejaswi Yadav</option>
        <option value="Sitaram Yechury">Sitaram Yechury</option>
        <option value="Pinarayi Vijayan">Pinarayi Vijayan</option>
        <option value="Brinda Karat">Brinda Karat</option>
        <option value="Piyush Goyal">Piyush Goyal</option>
        <option value="Smriti Irani">Smriti Irani</option>
        <option value="S Jaishankar">S Jaishankar</option>
        <option value="Nitin Gadkari">Nitin Gadkari</option>
        <option value="Pawan Kheda">Pawan Kheda</option>
        <option value="Sachin Pilot">Sachin Pilot</option>
        <option value="Bhagwant Mann">Bhagwant Mann</option>
        <option value="Derek O Brien">Derek O'Brien</option>
        <option value="Sudip Bandyopadhyay">Sudip Bandyopadhyay</option>
        <option value="Sunil Bansal">Sunil Bansal</option>
        <option value="Chandrakant Patil">Chandrakant Patil</option>
        <option value="Alka Lamba">Alka Lamba</option>
        <option value="P Chitadambaram">P. Chitadambaram</option>
        <option value="Subrata Bakshi">Subrata Bakshi</option>
        <option value="Chirag Paswan">Chirag Paswan</option>
        <option value="Sharad Pawar">Sharad Pawar</option>
        <option value="Manoj Jha">Manoj Jha</option>
        <option value="Venugopal">Venugopal</option>
        <option value="C lalrosanga">C Lalrosanga</option>
        <option value="Tokhelo Yepthomi">Tokhelo Yepthomi</option>
        <option value="Sukhibir singh badal">Sukhibir Singh Badal</option>
        <option value="Indra hang subba">Indra hang subba</option>
        <option value="Vincent Pala">Vincent Pala</option>
        <option value="Malikarjun Khadge">Malikarjun Khadge</option>
        <option value="M.K. Stalin">M.K. Stalin</option>
        <option value="Jamyang Tsering Namgyal">Jamyang Tsering Namgyal</option>
        <option value="Om Birla">Om Birla</option>
    </select> <br> <br> <br>

        <input type="text" name="PreviousExperiences" id="pvs" placeholder="Previous Experiences"> <br>
</div><br>
    <button type="submit" id="submitbutton">Register Event</button>
    </form>
</body>
</html>
