<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquregia'24-Sketching</title>
    <link rel="stylesheet" href="css/event.css">
    <link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
</head>
<body><main>
    <div id="bigFlex2"><div class="back-to-home-div"><div id="arrow-left" onclick="history.back()"></div></div> 
        <div class="logo" id="logo1"><img src="photos/logo.png" alt=""></div>
        <div id="img"><img src="photos/sketching2.webp" alt=""></div>
    </div>
    <div id="bigFlex1">

        <div class="logo" id="logo2"><img src="photos/logo.png" alt=""></div>
            <div id="heading">Hunar</div>
            <div id="content"> Dive into creativity at Sketch Splash! Join the sketching session, let your pencil bring imagination to life, and explore the art of sketching. It's your canvas, your lines, and your opportunity to create visual magic!
        </div>
        <a class="fancy" href="/soloeventregister">
  <span class="top-key"></span>
  <span class="text">Register</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a><div class="scrolldown" id="scrolldown" style="--color: skyblue">
    <div class="chevrons">
        <div class="chevrondown"></div>
        <div class="chevrondown"></div>
    </div>
</div><div class="border-line"></div>
        <div id="alignment">
            
            <div id="rulesHeader"><p id="rulesHeaderTitle">Rules & Regulations</p> 
                <div id="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path d="M12 12.586 8.707 9.293l-1.414 1.414L12 15.414l4.707-4.707-1.414-1.414L12 12.586z"/></svg>
                </div>
        </div>
        </div>
        <div id="rulesContent">

        
           <h2> General Rules:</h2>
            <p>
                <ul>
                    <li>It is a solo event and maximum of 2 entries from a college will be allowed on the basis of first come first served.</li>
                    <li>Theme: - It's an open theme competition.</li>
                    <li>The participant can take help from the internet. </li>
                    <li>The time limit will be 1.5 hours to make the sketch.</li>
                    <li>The participants will only be given a white paper sheet to make the sketch, rest materials will have to be taken by the participant on their own.</li>
                    <li>Participants are not allowed to use any color.</li>
                    <li>You can use both charcoal and graphite pencils.</li>
                    <li>Judgment criteria: Creativity, Usage of sketch pencils, and theme's impact.</li>
                    <li>The decision of the judges and event organisers is final.</li>
                </ul>
                </p> 


<center><h2>Coordinators</h2></center>
    <div id="coordinatorsss">
        <div class="coordinator"><div>Aditya</div> 94147 75240</div>
        <div class="coordinator"><div>Mayank</div>82091 04703</div>
    </div>
            
    </div>

    
</main>
</body>
<script src="script/event.js"></script>
</html>