<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <!-- navbar section stars from here -->
        {{>navbar}}
    </header> <!-- header ends here -->


    <!-- main starts from here -->
    <main class="main" >
        <div class="big-daddy-container">

            <!-- ################################################ ORGANIZING COMMITTEE ################################################## -->
            <!-- for category heading -->
            <article class="category-heading">Team Aquaregia</article>
            <div class="category-container">


                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/ayush.webp" alt=""></div>
                    <div class="info need-padding">
                        <p class="name">Ayush Lakhan</p>
                        <p class="fest-post">Event Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/ayushlakhan_?igsh=b2ZoYzNxNnJzODBl' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='tel:+919829323031' target="_blank"><i class="fa-solid fa-phone social-media-icon"></i></a>
                            <!-- <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a> -->
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=919829323031&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                <div class="profile-card " data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/shubham.webp" alt=""></div>
                    <div class="info need-padding">
                        <p class="name">Shubham Singh</p>
                        <p class="fest-post">Campus Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/shubhammsingha/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/919829924878' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>


                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/sachin6.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Sachin Choudhary</p>
                        <p class="fest-post">Sponsor Manager</p>
                        <div class="social-media">
                     <a href='https://www.instagram.com/sachin_jat03?igsh=MW95cmh1anV4czVibg==' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://in.linkedin.com/in/sachin-choudhary-a76566241' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='https://x.com/SachinChou23526?t=7FRtMVLhfUARSwkYSdJd5Q&s=09' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=917878561249&text&type=phone_number&app_absent=0    ' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/surya.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Surya Pratap Singh</p>
                        <p class="fest-post">Event Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/suryapratapsinghrathore03?igsh=Y3hza21ob2VmNHk=' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=918005507949&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/Dipesh1.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Dipesh Saini</p>
                        <p class="fest-post">IT & Development</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/dipeshsaini_23/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='https://x.com/DipeshSaini23?t=PbW4eZUDVR9rNE2eSshZbg&s=08' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=919982913577&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/vansh3.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Vansh Chawla</p>
                        <p class="fest-post">IT & Social Media</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/vnshchwla/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://www.linkedin.com/in/vans-%E2%88%85/' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/918955526494' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/navjot.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Navjot Singh</p>
                        <p class="fest-post">IT & Promotions</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/nvvjot.singh/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://www.linkedin.com/in/navjot-singh-umcj/' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/917240065926' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                 <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/Pradeep_Jat.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Pradeep Jat</p>
                        <p class="fest-post">IT & Development</p>
                        <div class="social-media">
       <a href='https://www.instagram.com/pradeepjat143/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://www.linkedin.com/in/pradeepjat/' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='https://twitter.com/Pradeep14546744' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/918302007892' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                 <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/divyanshu.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Divyanshu Dubey</p>
                        <p class="fest-post">IT & Registrations</p>
                        <div class="social-media">
       <a href='#' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://www.linkedin.com/in/divyanshuintech/' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='https://twitter.com/divyanshuintech' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/918619012303' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                

                 <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/prem.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Prem Malik</p>
                        <p class="fest-post">Student Relations</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/prem_malik_/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='https://www.linkedin.com/in/prem-malik-170006267/' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/917976588436' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/parth.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Parth Pandya</p>
                        <p class="fest-post">Student Relations</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/mr_pandya__?igsh=MW0yd3F2OGwxY3A3bQ==' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/919829493558' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

              

                
                
                
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/ritik.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Ritik Yadav</p>
                        <p class="fest-post">Sponsor Manager</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/ritikyadav.96?igsh=MWJyMDNncDdodnU3cQ==' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=918949396994&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                 <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/jaimini.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Sachin Jaimini</p>
                        <p class="fest-post">Volunteer Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/sachin_jaimini?utm_source=qr&igsh=MTQ0aTlzNXByeGFv' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=917891757707&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/deepak2.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Deepak Meena</p>
                        <p class="fest-post">Multimedia Operator</p>
                        <div class="social-media">
                                         <a href='https://www.instagram.com/deepakmeena_03?igsh=eDU5YWJ4N2k3aWxy' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                             <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a> 
                            <a href='https://api.whatsapp.com/send/?phone=918529283245&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/shiva.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Shiva Sharma</p>
                        <p class="fest-post">Food Court</p>
                        <div class="social-media">
                            <a href='#' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/Aditya.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Aditya Joshi</p>
                        <p class="fest-post">Food Court</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/adityajoshi429/' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/919521270397' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/Akshit.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Akshit Jadaun</p>
                        <p class="fest-post">Decoration Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/jadaun_akshit_singhh?utm_source=qr&igsh=MzUwdXUzMzdkMGNp' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=916378565636&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/ankit.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Ankit Dadhich</p>
                        <p class="fest-post">Decoration Management</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/dadhich.ankit27?utm_source=qr&igsh=MWd5YWM2aHI1YzdnbQ==' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=917597017060&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/kuldeep.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Kuldeep Singh</p>
                        <p class="fest-post">Anchoring</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/kuldeepsingh93583?igsh=MWNnOGNiaTIycGlzdQ==' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/919358397163' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/vipanshu.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Vipanshu Sharma</p>
                        <p class="fest-post">Volunteer Management</p>
                        <div class="social-media">
                            <a href='#' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/917742245581' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/harsh_ojas.jpg" alt=""></div>
                    <div class="info">
                        <p class="name">Harsh Sharma</p>
                        <p class="fest-post">Multimedia Operator</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/harsh__jaihind?igsh=aTBwaGRodWpzbTJj' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://api.whatsapp.com/send/?phone=918949508075&text&type=phone_number&app_absent=0' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/sameer.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Sameer</p>
                        <p class="fest-post">Registration</p>
                        <div class="social-media">
                            <a href='https://www.instagram.com/mdsameer007m?utm_source=qr&igsh=NmVnZXQ1OG91MzF2' target="_blank"><i class="fa-brands fa-instagram social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-linkedin social-media-icon"></i></a>
                            <a href='#' target="_blank"><i class="fa-brands fa-x-twitter social-media-icon"></i></a>
                            <a href='https://wa.me/919351966621' target="_blank"><i class="fa-brands fa-whatsapp social-media-icon"></i></a>
                        </div> 
                    </div>
                </div>

                
                

            </div>
            <div class="previous-team-heading-box">
                <hr class="horizontal-line">
                <article style="margin: 30px 15px 50px 15px;" class="category-heading">Team Aquaregia</article>
                <hr class="horizontal-line">
            </div>
            <div class="previous-team-container" id="previous-team-container"> 
                <a href="./team-2023"><button class="previous-team-btn">Team Aquaregia 2023</button></a>
            </div>
        </div>

    </main>
    <!-- main ends here-->
    {{>footer}}

</body>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
<script src="script/tok.js"></script>
<script>
    // code for hamburger mobile
    // let tabsformobileclass = document.querySelectorAll('.tabsbuttonclass')
    function hamburgerMenu() {
        document.getElementById("tabs_button").classList.toggle("show");
        // document.getElementById("navBar").classList.toggle("navbarToggleClass");
        // document.getElementById("rotatebtn").classList.toggle("rotate")
        document.body.classList.toggle("stopscrolling");
        document.getElementById("burger-bar1").classList.toggle("hamburger-animation1");
        document.getElementById("burger-bar2").classList.toggle("hamburger-animation2");
        document.getElementById("burger-bar3").classList.toggle("hamburger-animation3");

        //   tabsformobileclass.forEach((item) =>
        //   item.classList.toggle('showmobiletabs'));

    }

     function init(){

gsap.registerPlugin(ScrollTrigger);

// Using Locomotive Scroll from Locomotive https://github.com/locomotivemtl/locomotive-scroll

const locoScroll = new LocomotiveScroll({
  el: document.querySelector(".main"),
  smooth: true
});
// each time Locomotive Scroll updates, tell ScrollTrigger to update too (sync positioning)
locoScroll.on("scroll", ScrollTrigger.update);

// tell ScrollTrigger to use these proxy methods for the ".main" element since Locomotive Scroll is hijacking things
ScrollTrigger.scrollerProxy(".main", {
  scrollTop(value) {
    return arguments.length ? locoScroll.scrollTo(value, 0, 0) : locoScroll.scroll.instance.scroll.y;
  }, // we don't have to define a scrollLeft because we're only scrolling vertically.
  getBoundingClientRect() {
    return {top: 0, left: 0, width: window.innerWidth, height: window.innerHeight};
  },
  // LocomotiveScroll handles things completely differently on mobile devices - it doesn't even transform the container at all! So to get the correct behavior and avoid jitters, we should pin things with position: fixed on mobile. We sense it by checking to see if there's a transform applied to the container (the LocomotiveScroll-controlled element).
  pinType: document.querySelector(".main").style.transform ? "transform" : "fixed"
});


// each time the window updates, we should refresh ScrollTrigger and then update LocomotiveScroll. 
ScrollTrigger.addEventListener("refresh", () => locoScroll.update());

// after everything is set up, refresh() ScrollTrigger and update LocomotiveScroll because padding may have been added for pinning, etc.
ScrollTrigger.refresh();
}
init();

</script>
<script type="text/javascript" src="script/vanilla-tilt.js"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".profile-card"), {
        max: 10,
        speed: 1000,
        perspective: 1000
    });
</script>

</html>