<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <header>
        <!-- navbar section stars from here -->
        {{>navbar}}
    </header> <!-- header ends here -->


    <!-- main starts from here -->
    <main>
        <div class="big-daddy-container">

            <!-- ################################################ ORGANIZING COMMITTEE ################################################## -->
            <!-- for category heading -->
            <article class="category-heading">Team Aquaregia 2023</article>
            <div class="category-container">


                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/devendra.webp" alt=""></div>
                    <div class="info need-padding">
                        <p class="name">Devendra Sharma</p>
                        <p class="fest-post">Cultural Secretary</p>
                    </div>
                </div>
                <div class="profile-card " data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/sarthak.webp" alt=""></div>
                    <div class="info need-padding">
                        <p class="name">Sarthak</p>
                        <p class="fest-post">General Secretary</p>
                        <p class="fest-post">Sponsorship Relations &</p>
                        <p class="fest-post">Discipline</p>
                    </div>
                </div>


                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/gajendra.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Gajendra Tiwari</p>
                        <p class="fest-post">Management Coordinator</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/madhavendra.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Madhavendra Singh</p>
                        <p class="fest-post">IT & Registration</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/vikash.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Vikash Kumawat</p>
                        <p class="fest-post">IT & Registration</p>
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/ajay.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Ajay Meena</p>
                        <p class="fest-post">Invitations & Student Relations</p>
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/tarun.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Tarun Sharma</p>
                        <p class="fest-post">Decoration Manager</p>
                    </div>
                </div>

                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/rohitM.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Rohit Meena</p>
                        <p class="fest-post">Social Media Manager</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/anish.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Anish Jain</p>
                        <p class="fest-post">Volunteer Management</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/rohitN.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Rohit Neel</p>
                        <p class="fest-post">Volunteer Management</p>
                    </div>
                </div>
                
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/shivang.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Shivang Vyas</p>
                        <p class="fest-post">Food Court</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/rupendra.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Rupendra Singh</p>
                        <p class="fest-post">Food Court</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/paras.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Paras Verma</p>
                        <p class="fest-post">Photography</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/shivam.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Shivam Lakshkar</p>
                        <p class="fest-post">Event Recording</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/dikshant.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Dikshant Singh</p>
                        <p class="fest-post">Anchoring</p>
                    </div>
                </div>
                <div class="profile-card" data-tilt-glare data-tilt-max-glare="0.1">
                    <div class="dp"><img src="photos/team photos/prakhar.webp" alt=""></div>
                    <div class="info">
                        <p class="name">Prakhar Sharma</p>
                        <p class="fest-post">Anchoring</p>
                    </div>
                </div>


            </div>
        </div>

    </main>
    <!-- main ends here-->
    {{>footer}}

</body>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
<script src="script/tok.js"></script>
<script>
    // code for hamburger mobile
    // let tabsformobileclass = document.querySelectorAll('.tabsbuttonclass')
    function hamburgerMenu() {
        document.getElementById("tabs_button").classList.toggle("show");
        // document.getElementById("navBar").classList.toggle("navbarToggleClass");
        // document.getElementById("rotatebtn").classList.toggle("rotate")
        document.body.classList.toggle("stopscrolling");
        document.getElementById("burger-bar1").classList.toggle("hamburger-animation1");
        document.getElementById("burger-bar2").classList.toggle("hamburger-animation2");
        document.getElementById("burger-bar3").classList.toggle("hamburger-animation3");

        //   tabsformobileclass.forEach((item) =>
        //   item.classList.toggle('showmobiletabs'));

    }

     function init(){

gsap.registerPlugin(ScrollTrigger);

// Using Locomotive Scroll from Locomotive https://github.com/locomotivemtl/locomotive-scroll

const locoScroll = new LocomotiveScroll({
  el: document.querySelector(".main"),
  smooth: true
});
// each time Locomotive Scroll updates, tell ScrollTrigger to update too (sync positioning)
locoScroll.on("scroll", ScrollTrigger.update);

// tell ScrollTrigger to use these proxy methods for the ".main" element since Locomotive Scroll is hijacking things
ScrollTrigger.scrollerProxy(".main", {
  scrollTop(value) {
    return arguments.length ? locoScroll.scrollTo(value, 0, 0) : locoScroll.scroll.instance.scroll.y;
  }, // we don't have to define a scrollLeft because we're only scrolling vertically.
  getBoundingClientRect() {
    return {top: 0, left: 0, width: window.innerWidth, height: window.innerHeight};
  },
  // LocomotiveScroll handles things completely differently on mobile devices - it doesn't even transform the container at all! So to get the correct behavior and avoid jitters, we should pin things with position: fixed on mobile. We sense it by checking to see if there's a transform applied to the container (the LocomotiveScroll-controlled element).
  pinType: document.querySelector(".main").style.transform ? "transform" : "fixed"
});


// each time the window updates, we should refresh ScrollTrigger and then update LocomotiveScroll. 
ScrollTrigger.addEventListener("refresh", () => locoScroll.update());

// after everything is set up, refresh() ScrollTrigger and update LocomotiveScroll because padding may have been added for pinning, etc.
ScrollTrigger.refresh();
}
init();


</script>

<script type="text/javascript" src="script/vanilla-tilt.js"></script>
<script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".profile-card"), {
        max: 10,
        speed: 1000,
        perspective: 1000
    });
</script>

</html>