 <footer>
        <!-- footer stars from here -->
        <button class="fas" id="backtotopbutton" onclick="scrolltoTopfunction()">
            <!-- &#8593;-->
        </button>

        <div class="footer-container">
            <div class="aquaregia-title-div"><img src="photos/logo.png" alt=""></div>
            <div class="footer-top">
            <div class="aquaregia-details-container">
                <article class="footer-content-heading directions">DIRECTIONS</article>
                <div class="location-div"><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps/dir//google+maps+maharaja+college+jaipur/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x396db7d096b8b3a7:0xb424aabfef8c1132?sa=X&ved=2ahUKEwj88ubt5p38AhXkSGwGHWy2AkgQ9Rd6BAhcEAQ" target="_blank">Sawai Ram Singh Rd, Ashok Nagar, Jaipur, Rajasthan 302001</a></div>
                <div class="call-div"><i class="fas fa-phone-alt"></i><a href="tel:+9101412577290">0141 256 7290</a></div>
                <div class="gmail-div"><i class="far fa-envelope"></i><a href="mailto:culturalteammcj@gmail.com">culturalteammcj@gmail.com</a></div>
            </div>

            <div class="footer-tabs-container">
                <article class="footer-content-heading menu">MENU</article>
                 <ul>
                    <li><a href="/aboutus" target="_blank">About Us</a></li>

                    <li><a href="/faqs"target="_blank">FAQ</a></li>

                    <li><a href="" target="">Developers</a></li>
                 </ul>
            </div>
            <div class="coordinators-main-container">
                <div class="another-div-contact-us">
                <article class="footer-content-heading contact-us">CONTACT US</article>
                       <a href="tel:+919829323031" class="coordinators-name">+91 9829323031
                       </a>
                       <a href="tel:+919358397163"  class="coordinators-name">+91 9358397163
                       </a>
                    </div>
                    
                       <div class="social-media-logo-container-mini socialsforpc" id="socials-container">
                        <article class="footer-content-heading socials">SOCIALS</article>
                        <div class="social-media-icon-div">
                        <a href=""><div class="social-media-logo youtube">
                            <i class="fab fa-youtube"></i>
                        </div></a>
                        <a href="https://instagram.com/aquaregia.official?igshid=OGQ2MjdiOTE=" target="_blank"><div class="social-media-logo instagram">
                            <i class="fab fa-instagram"></i>
                        </div></a>
                        <a href="https://www.facebook.com/aquaregiaannualfest?mibextid=ZbWKwL" target="_blank"><div class="social-media-logo facebook">
                            <i class="fab fa-facebook"></i>
                        </div></a>
                    </div>
                </div>
            </div>
            <div class="social-media-logo-container-mini socialsformobile" id="socials-container2">
                <article class="footer-content-heading socials">SOCIALS</article>
                <div class="social-media-icon-div">
                <a href="https://www.youtube.com/@universitymaharajacollegej9971" target="_blank"><div class="social-media-logo youtube">
                    <i class="fab fa-youtube"></i>
                </div></a>
                <a href="https://instagram.com/aquaregia.official?igshid=OGQ2MjdiOTE=" target="_blank"><div class="social-media-logo instagram">
                    <i class="fab fa-instagram"></i>
                </div></a>
                <a href="https://www.facebook.com/aquaregiaannualfest?mibextid=ZbWKwL" target="_blank"><div class="social-media-logo facebook">
                    <i class="fab fa-facebook"></i>
                </div></a>
            </div>
        </div>
           
        </div>
        <div class="footer-bottom">
            <article>Copyright &#169; Aquaregia 2023 | All rights reserved</article>
        </div>
        </div>
    </footer> <!-- footer ends from here -->