<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="theme-color" content="black">
<meta name="description" content="It all started when a bunch of students realised that there's more to college life than
                        textbooks. The AQUAREGIA came into existence following that legacy we are here with
                        AQUAREGIA-2024 with theme Imagination, the stage to realise your true potential, the
                        stage to showcase that you're the best.
                        See you on 28th & 29th February 2024 at AQUAREGIA.">
<meta name="keywords" content="aquaregia,aquaregiafest,aquaregia 2024,aquaregia 24,maharaja college, maharaja">
<title>Aquaregia'24 | Imagination</title>
<link rel="shortcut icon" href="photos/flask.svg" type="image/x-icon">
<link rel="stylesheet" href="css/nav-footer.css">
<!-- stylesheet -->
<!-- fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<!-- swiper js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />