<nav id=navBar>

    <div class="logo">
        <a href="/">
            <img src="photos/logo2.webp" alt="" style="width:200px">

        </a>
    </div>
    <div class="tabs">
        <ul class="tabs_button" id="tabs_button">
            <a href="/">
                <li class="tabsbuttonclass" id="home">Home</li>
            </a>
            <a href="/events">
                <li class="tabsbuttonclass" id="events">Events</li>
            </a>
            <a href="/aboutus">
                <li class="tabsbuttonclass" id="sponsors">About</li>
            </a>
            <a href="/team">
                <li class="tabsbuttonclass" id="team">Team</li>
            </a>
            <a href="/faqs">
                <li class="tabsbuttonclass" id="faqs">FAQs</li>
            </a>
            <a href="/login" id="inpt"><button class="loginbtn">Login</button></a>

        </ul>

        <div class="hamburger" id="hamburger">
            <button id="hamburger-button" onclick="hamburgerMenu()">
                <span class="burger-bar" id="burger-bar1"></span>
                <span class="burger-bar" id="burger-bar2"></span>
                <span class="burger-bar" id="burger-bar3"></span></button>
            </span>
        </div>



    </div>
</nav>