#imgFlexDa1{
background-image: url(../photos/daS.webp);
background-size: 100%;
}
#imgFlexDa2{
background-image: url(../photos/daD.webp);
background-size: 100%;
}
#imgFlexDa3{
background-image: url(../photos/daG.jpg);
background-size: 100%;
}
#imgFlexM1{
background-image: url(../photos/mS.jpg);
background-size: cover;
}
#imgFlexM2{
background-image: url(../photos/group\ singing.webp);
background-size: cover;
}
#imgFlexM3{
background-image: url(../photos/antakshri2.webp);
background-size: cover;
background-position: right;
}
#imgFlexDr1{
background-image: url(../photos/DrNN.webp);
background-size: 100%;
}
#imgFlexDr2{
background-image: url(../photos/DrAM.webp);
background-size: 100%;
}
#imgFlexDr3{
background-image: url(../photos/DrMA.webp);
background-size: 100%;
}
#imgFlexP1{
background-image: url(../photos/crativecapture.webp);
background-size: 100%;
}
#imgFlexP2{
    background-image: url(../photos/reels.webp);
    background-size: 100%;
}
#imgFlexP3{
background-image: url(../photos/pCS.png);
background-size: 100%;
}
#imgFlexP4{
background-image: url(../photos/MiMM1.webp);
background-size: cover;
background-position: center;
}

#imgFlexT1{
background-image: url(../photos/graphic_designs_img.webp);
background-size: 100%;
}
#imgFlexT2{
background-image: url(../photos/tH.webp);
background-size: 100%;
}
#imgFlexT3{
background-image: url(../photos/tC.jpg);
background-size: 100%;
}
#imgFlexT4{
background-image: url(../photos/tbgmi.jpg);
background-size: 100%;
}
#imgFlexT5{
background-image: url(../photos/tvalo.jpg);
background-size: cover;
background-position: center;
}
#imgFlexL1{
background-image: url(../photos/lYP.webp);
background-size: 100%;
}
#imgFlexL2{
background-image: url(../photos/lCW.jpg);
background-size: 100%;
}
#imgFlexL3{
background-image: url(../photos/lD.webp);
background-size: 100%;
}
#imgFlexL4{
background-image: url(../photos/lP.webp);
background-size: 100%;
}
#imgFlexL5{
background-image: url(../photos/lQ.webp);
background-size: 100%;
}
#imgFlexL6{
background-image: url(../photos/lJ.jpg);
background-size: cover;
background-position: center;
}
#imgFlexA1{
background-image: url(../photos/aP.jpg);
background-size: cover;
}
#imgFlexA2{
background-image: url(../photos/aR.webp);
background-size: 100%;
}
#imgFlexA3{
background-image: url(../photos/sketching2.webp);
background-size: 100%;
}
#imgFlexA4{
background-image: url(../photos/aFP.jpg);
background-size: 100%;
}
#imgFlexA5{
background-image: url(../photos/aRW.webp);
background-size: 100%;
}
#imgFlexF1{
    background-image: url(../photos/fRW.jpg);
    background-size: cover;
}
#imgFlexF2{
    background-image: url(../photos/fM.webp);
    background-size: 100%;
}
#imgFlexMi1{
background-image: url(../photos/MiToW.webp);
background-size: 100%;
}
#imgFlexMi2{
background-image: url(../photos/MiTH.webp);
background-size: 100%;
}
#imgFlexMi3{
background-image: url(../photos/agt.jpg);
background-size: cover;
background-position: center;
}
#imgFlexMi4{
background-image: url(../photos/MiMM.webp);
background-size: 100%;
}
#imgFlexMi5{
background-image: url(../photos/MiBP.webp);
background-size: 150%;
background-position: center;
}
